
@{
  Layout = "_Layout";
}

@using PierresBakery.Models;
@model PierresBakery.Models.PierresBakeryContext;

<div class="row text-center">
  <div class="col-6">
    <h1>Flavors</h1>

    @if (@Model.Flavors.ToList().Count == 0)
    {
      <h3>No Flavors have been added yet</h3>
    }

    @foreach (Flavor flavor in @Model.Flavors.ToList())
    {
      <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
    }
  </div>

  <div class="col-6">
    <h1>Treats</h1>

    @if (@Model.Treats.ToList().Count == 0)
    {
      <h3>No Treats have been added yet</h3>
    }

    @foreach (Treat treat in @Model.Treats.ToList())
    {
      <li>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</li>
    }
  </div>
</div>